---
import { parse, isBefore } from 'date-fns';
import Layout from '../../layouts/Layout.astro';
import { stringToColor } from '../../components/Headshot.jsx';

const posts = await Astro.glob('./*.md')
  .then(posts => posts
    .map(({ frontmatter, url }) => ({
      title: frontmatter.title,
      description: frontmatter.description,
      date: parse(frontmatter.date, 'MMMM d, yyyy', new Date()),
      href: url
    }))
    .sort((a, b) => {
      if (isBefore(a.date, b.date)) return 1;
      if (isBefore(b.date, a.date)) return -1;
      return 0;
    })
  );
const date = new Date();
const oneDay = 24 * 60 * 60 * 1000;
---

<Layout content={{ title: 'Thoughts', show: false }}>
  {posts.map(post => {
    const diff = Math.abs(date.getTime() - post.date.getTime()) / oneDay;
    return (
      <div>
        <h3><a href={post.href} style={`color: ${stringToColor(post.title)}`}>{post.title}</a></h3>
        <p>
          {post.description} <em class="fade">({Math.round(diff)} day ago)</em>
        </p>
      </div>
    );
  })}
</Layout>